<h1><%= @event.name %> Attendees</h1>

<ul>
  <% @attendees.each do |a| %>
      <li>
        <%= a.username %>
        <%= link_to "show" , event_attendee_path(@event,a) %>
        <%= link_to "edit" , edit_event_attendee_path(@event,a) %>
        <%= link_to "destroy" , event_attendee_path(@event,a) , :method => :delete %>
      </li>
  <% end %>
</ul>

<%= link_to "New Attendees" , new_event_attendee_path(@event),:class => "btn btn-success" %>

<%= link_to "Index" ,  events_path ,:class => "btn btn-default" %>