<% if event.errors.any? %>
    <ul>
      <% event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :capacity %>
  <%= f.text_field :capacity, :class => "form-control" %>
</div>
<div class="form-group">
  <%= f.label :category_id %>
  <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, :prompt => "請選擇一個" %>
</div>
<div class="form-group">
  <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
</div>
<div class="form-group">
  <%= f.submit :class => "btn btn-success" %>
</div>