<h1>Event List</h1>

<table class="table table-hover">
  <tr>
    <td>Event Name</td>
    <td>is_public</td>
    <td>show</td>
    <td>edit</td>
    <td>destroy</td>
  </tr>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= show_public(event.is_public) %></td>
        <td><%= link_to "show", event_path(event) %></td>
        <td><%= link_to "edit", edit_event_path(event) %></td>
        <td><%= link_to "destroy", event_path(event) ,:method => :delete %></td>
      </tr>
  <% end %>
</table>
<%= paginate @events %>
<%= link_to "new event", new_event_path, :class => "btn btn-success" %>
