<h1>Event List</h1>

<table class="table table-hover">
  <tr>
    <td>Event Name</td>
    <td>is_public</td>
    <td>show</td>
    <td>edit</td>
    <td>destroy</td>
  </tr>
  <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= show_public(event.is_public) %></td>
        <td><%= link_to "show", :controller => :events, :action => :show, :id => event %></td>
        <td><%= link_to "edit", :controller => :events, :action => :edit, :id => event %></td>
        <td><%= link_to "destroy", :controller => :events, :action => :destroy, :id => event %></td>
      </tr>
  <% end %>
</table>
<%= paginate @events %>
<%= link_to "new event", { :controller => :events, :action => :new }, :class => "btn btn-success" %>
