<h1>Event List</h1>

<ul>
  <% @events.each do |event| %>
      <li>
        <%= event.name %>
        <%= link_to "show", :controller => :events, :action => :show, :id => event %>
        <%= link_to "edit", :controller => :events, :action => :edit, :id => event %>
        <%= link_to "destroy", :controller => :events, :action => :destroy, :id => event %>
      </li>
  <% end %>
</ul>
<%= paginate @events %>
<%= link_to "new event", :controller => :events, :action => :new %>